<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".html" />
      <mimeMap fileExtension=".html" mimeType="text/html;charset=UTF-8" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="0.3.1-draft.Organization">
          <match url="^(Organization)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crorganization.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.3.1-draft.ImplementationGuide">
          <match url="^(ImplementationGuide)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crimplementationguide.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.3.1-draft.Bundle">
          <match url="^(Bundle)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crbundle.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.3.1-draft.Patient">
          <match url="^(Patient)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crpatient.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.3.1-draft.DiagnosticReport">
          <match url="^(DiagnosticReport)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crdiagnosticreport.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.3.1-draft.PractitionerRole">
          <match url="^(PractitionerRole)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crpractitionerrole.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.3.1-draft.CodeSystem">
          <match url="^(CodeSystem)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crcodesystem.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.3.1-draft.ServiceRequest">
          <match url="^(ServiceRequest)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crservicerequest.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.3.1-draft.Practitioner">
          <match url="^(Practitioner)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crpractitioner.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.3.1-draft.Specimen">
          <match url="^(Specimen)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crspecimen.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.3.1-draft.StructureDefinition">
          <match url="^(StructureDefinition)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crstructuredefinition.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.3.1-draft.CapabilityStatement">
          <match url="^(CapabilityStatement)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crcapabilitystatement.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.3.1-draft.Observation">
          <match url="^(Observation)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crobservation.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.3.1-draft.ValueSet">
          <match url="^(ValueSet)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crvalueset.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.3.1-draft.Location">
          <match url="^(Location)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crlocation.asp?type={R:1}&amp;id={R:2}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>