<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".html" />
      <mimeMap fileExtension=".html" mimeType="text/html;charset=UTF-8" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="0.4.9.Group">
          <match url="^(Group)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crgroup.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.4.9.Organization">
          <match url="^(Organization)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crorganization.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.4.9.ImplementationGuide">
          <match url="^(ImplementationGuide)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crimplementationguide.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.4.9.Bundle">
          <match url="^(Bundle)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crbundle.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.4.9.Patient">
          <match url="^(Patient)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crpatient.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.4.9.Coverage">
          <match url="^(Coverage)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crcoverage.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.4.9.CodeSystem">
          <match url="^(CodeSystem)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crcodesystem.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.4.9.RelatedPerson">
          <match url="^(RelatedPerson)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crrelatedperson.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.4.9.Practitioner">
          <match url="^(Practitioner)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crpractitioner.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.4.9.StructureDefinition">
          <match url="^(StructureDefinition)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crstructuredefinition.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.4.9.Observation">
          <match url="^(Observation)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crobservation.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.4.9.CapabilityStatement">
          <match url="^(CapabilityStatement)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crcapabilitystatement.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.4.9.SearchParameter">
          <match url="^(SearchParameter)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crsearchparameter.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.4.9.ConceptMap">
          <match url="^(ConceptMap)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crconceptmap.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.4.9.ValueSet">
          <match url="^(ValueSet)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crvalueset.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.4.9.OperationDefinition">
          <match url="^(OperationDefinition)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="croperationdefinition.asp?type={R:1}&amp;id={R:2}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>